body {
  background-color: #e6ecf0;
}

h5, h4 {
  display: inline;
}

hr {
  margin: 5px 0 5px 0;
}

a {
  font-size: 0.9em;
}

.navbar-default .navbar-nav li a {
  color: #66757f;
  font-weight: bold;
}

.navbar {
  height: 50px;
}

.navbar-brand {
  color: #4AB3F4 !important;
  font-size: 28px;
  margin-left: 250px !important;
  padding-top: 5px;
}

.perfil--foto--navbar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: solid 3px #f1f1f1;
  margin-right: 10px;
}

.button__twitter {
  background-color: #4AB3F4;
  border-radius: 30px;
  padding: 0.5rem 2rem;
  color: white;
  border: none;
}

.button__twitter--seguir {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 0.1rem 2rem;
  color: #4AB3F4;
  border: 1px solid #4AB3F4;
  margin-left: 5px;
}

.sidebar__form--search {
  border-radius: 15px;
  border: 1px solid #4AB3F4;
  margin: 5px 10px 0 0;
}

.sidebar__iz {
  margin-top: 10px;
}

.sidebar__perfil {
  position: relative;
}

.sidebar__perfil--portada {
  background-image: url(https://i.pinimg.com/564x/10/c5/6a/10c56a46c14324b6501066672f4ebb89.jpg);
  background-color: red;
  background-size: cover;
  height: 7em;
}

.sidebar__perfil--foto {
  padding: 75px 0 0 10px;
}

.sidebar__perfil--foto label {
  color: #4AB3F4;
}

.perfil--foto {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: solid 3px #f1f1f1;
  background-image: url("../images/inicioperfil.jpg");
  background-size: cover;
}

.sidebar__perfil--info {
  background-color: #ffffff;
  padding: 10px;
  overflow: hidden;
}

.sidebar__perfil--info ul {
  overflow: hidden;
  padding-left: 0;
}

.sidebar__perfil--info ul li {
  float: left;
  padding: 10px;
  list-style: none;
}

.sidebar__perfil--datos {
  margin-top: 75px;
  font-weight: bold;
}

#file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.sidebar__form {
  background-color: #E8F5FD;
  padding: 10px;
  margin-top: 20px;
}

.sidebar__form .sidebar__form--cajadetexto {
  border-radius: 15px;
  border: 1px solid #4AB3F4;
  display: block;
  margin-bottom: 10px;
  overflow: inherit;
  width: 100%;
  height: 4em;
}

.sidebar__form .sidebar__form--cajausuario {
  border-radius: 15px;
  border: 1px solid #4AB3F4;
  display: block;
  margin-bottom: 10px;
  overflow: inherit;
  width: 100%;
  height: 2em;
}

.main__central .main__tweet {
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.main__central .main__tweet .main__tweet--pin {
  color: #86827c;
  float: right;
}

.main__tweet--features .main__like {
  color: grey;
}

.main__tweet--features .main__like--red {
  color: red;
}

.main__contador {
  display: inline;
}

.usuario h4 {
  font-size: 18px;
  font-weight: bold;
}

.usuario {
  font-size: 18px;
  font-weight: bold;
}

.post {
  background-color: red;
  border: solid 1px #ccc;
  padding: 10px;
  width: 300px;
  height: 200px;
  overflow: auto;
  margin-bottom: 20px;
}

.pin {
  background-color: red;
  width: 30px;
  height: 30px;
  float: rigth;
}

.sidebar__seguidores {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
}

.perfil--foto--seguidores {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: solid 3px #f1f1f1;
  margin-right: 5px;
}

.sidebar__seguidores--empresa {
  padding: 5px;
}
